#bounty-hunters{
    display:flex;
    flex-direction: column;
    height:300px;
    width:30%;
    overflow: scroll;
    margin:20px;
    padding:15px;
    border:2px solid rgb(119, 119, 243);
    background-color: rgb(53, 53, 122);
    opacity: 0.7;
    color: whitesmoke;
    
    
    
}

/* Track */
::-webkit-scrollbar-track {
    background: rgb(53, 53, 122);;
    border-radius: 30px;
    opacity: 0.2;
  }
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgba(119, 119, 243, 0.3);
    border-radius: 30px;
    opacity: 0.2;
  }
  /* width */
  ::-webkit-scrollbar {
    width: 10px;
    opacity: 100%;
  }
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
  background: rgb(119, 119, 243, 0.6);;;
}
::-webkit-scrollbar-corner{
    background-color:rgb(53, 53, 122);
}

#party{
    display:flex;
    flex-direction: column;
    height:300px;
    width:30%;
    overflow: scroll;
    margin:20px;
    padding:15px;
    border:2px solid rgb(119, 119, 243);
    background-color: rgb(53, 53, 122);
    opacity: 0.7;
    color: whitesmoke;

}
#bh{
    /* display:flex; */
    /* flex-direction: row; */
    /* justify-content: space-between; */
    border-bottom: 2px solid rgb(119, 119, 243);
    /* padding: 5px; */
}
#members{
    /* display:flex; */
    /* flex-direction: row; */
    /* justify-content: space-between; */
    border-bottom: 2px solid rgb(119, 119, 243);
    /* padding: 5px; */
}
#bh-party-div{
    display:flex;
    flex-direction: row;
    justify-content: center;
    
}
#bh>button{
    padding:5px;
    width:75px;
    margin-bottom: 5px;
}

#cantina-section{
    background-image: url(./images/Cantina2.jpg);
    padding: 40px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    

}
#heal-and-credits{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width:65%;
    margin-left: 17%;
    padding: 10px;
}

#credits{
    color: white;
    font-weight: bold;
    text-shadow: 2px 2px black;

}

#heal{
    border:2px solid rgb(119, 119, 243);
    background-color: rgb(53, 53, 122);
    border-radius: 15px;
    width: 100px;
    color: whitesmoke;
    opacity: 0.7;
    font-weight:bold;
}
#heal:hover{
    cursor:pointer;
}

#main-menu-button{
    width:100px;
    border:2px solid rgb(119, 119, 243);
    background-color:rgb(53, 53, 122);
    padding:5px;
    text-align: center;
    opacity: 0.7;
    border-radius: 15px;
}
    
#main-menu-button>a{
    color:whitesmoke;
    text-decoration: none;
    text-align:center;
}