#bounty-hunters{
    display:flex;
    flex-direction: column;
    height:300px;
    width:30%;
    overflow: scroll;
    margin:20px;
    padding:5px;
    border:2px solid black;
}
#party{
    display:flex;
    flex-direction: column;
    height:300px;
    width:30%;
    overflow: scroll;
    margin:20px;
    padding:5px;
    border:2px solid black;

}
#bh{
    display:flex;
    flex-direction: row;
}
#members{
    display:flex;
    flex-direction: row;
}
#bh-party-div{
    display:flex;
    flex-direction: row;
    justify-content: center;
    
}