@font-face{
    font-family:Mandalore;
    src:url(./fonts/mandalore.ttf)
}
@font-face{
    font-family:Starjedi;
    src:url(./fonts/Starjedi.ttf)
}


#title{
    text-align: center;
    font-family:Mandalore;
    font-size: 50px;
    color:whitesmoke;
}

#title-div{
    justify-content: center;
    background-color: rgb(53, 53, 122);
    padding:1px;
    border-bottom: 2px solid rgb(119, 119, 243);
}

#starwars{
    text-align: center;
    font-family:Starjedi;
    font-size: 12px;
    color:whitesmoke;
    margin-bottom:-45px;
    text-decoration: underline;
    color: rgb(255, 232, 31)
}
