#main-menu{
background-image: url(./images/MosEisley.png);
padding: 40px;
background-repeat: no-repeat;
background-attachment: fixed;
height:600px;
}

#main-menu-div{
    display:flex;
    flex-direction:row;
    justify-content:center;
    width:20%;
    margin-left:40%;
}

#main-menu-div>a{
    background-color:rgb(53, 53, 122);
    opacity:0.9;
    border: 2px solid rgb(119, 119, 243);
    color:whitesmoke;
    padding:100px;
    margin-left:10px;
    text-align:center;
    border-radius:10px;
    text-decoration: none;
    width:80px;
    font-weight: bold;
    text-shadow: 2px 2px black;
}

#missions{
    background-image: url(./images/Spaceport.jpg);
    background-size:cover;
}

#cantina{
    background-image: url(./images/Cantina2.jpg);
    background-size:cover;
}

#store{
    background-image: url(./images/Store.jpg);
    background-size:cover;
}

#inventory{
    background-image: url(./images/Armoury.jpeg);
    background-size:cover;
}

#exit-button{
    width:100px;
    border:2px solid rgb(119, 119, 243);
    background-color:rgb(53, 53, 122);
    padding:10px;
    text-align: center;
    opacity: 0.7;
    border-radius: 15px;
    margin-bottom: 10px;
    margin-left:60px;

}
        
#exit-button>a{
    color:whitesmoke;
    text-decoration: none;
    text-align:center;
}
