#missions-section{
    background-image: url(./images/Spaceport.jpg);
    padding: 40px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:cover;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

#missions-select{
    display: flex;
    flex-direction: row;
    justify-content: center;

 

}

#tatooine{
    display:flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height:200px;
    width:60%;
    margin:20px;
    padding:15px;
    border:2px solid rgb(119, 119, 243);
    opacity: 0.9;
    color: whitesmoke;
    font-weight: bold;
    text-shadow: 2px 2px black;
    background-image: url(./images/Battle/TatooineBattle2.png);
    background-size:cover;
    border-radius:10px;
}

#coruscant{
    display:flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height:200px;
    width:60%;
    margin:20px;
    padding:15px;
    border:2px solid rgb(119, 119, 243);
    background-color: rgb(53, 53, 122);
    opacity: 0.9;
    color: whitesmoke;
    background-image: url(./images/Battle/CoruscantBattle.jpg);
    background-size:cover;
    font-weight: bold;
    text-shadow: 2px 2px black;
    border-radius:10px;
}
#naboo{
    display:flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height:200px;
    width:60%;
    margin:20px;
    padding:15px;
    border:2px solid rgb(119, 119, 243);
    background-color: rgb(53, 53, 122);
    opacity: 0.9;
    color: whitesmoke;
    background-image: url(./images/Battle/NabooBattle.jpg);
    background-size:cover;
    font-weight: bold;
    text-shadow: 2px 2px black;
    border-radius:10px;
}

#kashyyyk{
    display:flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height:200px;
    width:60%;
    margin:20px;
    padding:15px;
    border:2px solid rgb(119, 119, 243);
    background-color: rgb(53, 53, 122);
    opacity: 0.9;
    color: whitesmoke;
    background-image: url(./images/Battle/KashyyykBattle.jpeg);
    background-size:cover;
    font-weight: bold;
    text-shadow: 2px 2px black;
    border-radius:10px;
}
#select{
    display: flex;
    flex-direction: column;
}

#launch{
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    color: whitesmoke;
    text-decoration: none;
    border:2px solid rgb(119, 119, 243);
    background-color: rgb(53, 53, 122);
    opacity: 0.9;
    width: 130px;
    text-align: center;
    border-radius: 10px;
    padding:5px;
    margin-left: 40px;

}

#main-menu-button-mission{
    width:100px;
    border:2px solid rgb(119, 119, 243);
    background-color:rgb(53, 53, 122);
    padding:10px;
    text-align: center;
    opacity: 0.7;
    border-radius: 15px;
    margin-bottom: 10px;
    margin-left:60px;
    margin-top:-250px;

}
        
#main-menu-button-mission>a{
    color:whitesmoke;
    text-decoration: none;
    text-align:center;
}
