#battle-section{
    display:flex;
    flex-direction: column;
    background-image: url(./images/Battle/TatooineBattle2.png);
    padding: 40px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 520px;
}
#enemies{
    display:flex;
    flex-direction: row;
    padding:5px;
    flex-direction: row;
    justify-content: center;
    opacity: 0.7;
    border:2px solid rgb(119, 119, 243);
    background-color: rgb(53, 53, 122);
    border-radius: 10px;
    
}
#display-enemies{
    margin-right:30px;
    border:2px solid rgb(243, 119, 119);
    background-color: rgb(157, 24, 24);
    border-radius: 10px;
    opacity: 0.9;
    color: whitesmoke;
    padding:15px;
    margin:20px;
    width: 60%;
}

#display-enemies>p{
text-align: center;

}

#enemy-radio{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 105px;
}

#action-buttons{
    margin-right:50px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    border:2px solid rgb(119, 119, 243);
    background-color: rgb(53, 53, 122);
    border-radius: 10px;
    color: whitesmoke;
    padding:5px;
    opacity: 0.9;
}
#target-p{
    font-size: 14px;
}

.selected-buttons{
    padding:5px;
    margin:5px;
    text-align: center;
    display:flex;
    flex-direction: column;
    justify-content: center;
    width:175px;
}
#heal-button{
    margin-top: -0px;
}

#middle{
    
    display:flex;
    flex-direction: row;
}
#battle-log{
    border:2px solid rgb(119, 119, 243);
    background-color: rgb(53, 53, 122);
    border-radius: 10px;
    color: whitesmoke;
    opacity: 0.9;
    width: 45%;
    height: 150px;
    display: flex;
    justify-content: center;
    flex-direction:column-reverse;
    padding: 15px;
  
    overflow: scroll;
  }

  #battle-log>p{
    margin-bottom: -1px;
    margin-top: -1px;
    font-size: 15px;

  }


#player{
    top:0%;
    display:flex;
    flex-direction: row;
    justify-content: center;
    padding:5px;
    border:2px solid rgb(119, 119, 243);
    background-color: rgb(53, 53, 122);
    padding:15px;
    margin:5px;
    opacity: 0.7;
    border-radius: 10px;


    
}
#party-details{
    display:flex;
    flex-direction: row;
    margin-left:30px;

}

#player-stats{
    margin-right:10px;
    border:2px solid rgb(119, 119, 243);
    background-color: rgb(53, 53, 122);
    border-radius: 10px;
    opacity: 0.9;
    color: whitesmoke;
    padding:10px;
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    height:150px;

}

#party-stats{
    margin-right:10px;
    border:2px solid rgb(119, 243, 123);
    background-color: rgb(54, 122, 53);
    border-radius: 10px;
    opacity: 0.9;
    color: whitesmoke;
    padding:10px;
    display: flex;
    justify-content:space-evenly;
    flex-direction: column;
    height:150px;
}

#end-battle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 40%;
    padding: 20px;
    border:2px solid rgb(119, 119, 243);
    background-color: rgb(53, 53, 122);
    color: whitesmoke;
    border-radius: 10px;
    opacity: 0.7;
}
#end-battle:hover{
    cursor:pointer;
}