#battle-section{
    display:flex;
    flex-direction: column;
}
#enemies{
    border:2px solid black;
    display:flex;
    flex-direction: row;
    padding:5px;
}
#display-enemies{
    margin-right:30px;

}
#action-buttons{
    margin-right:50px;
    display:flex;
    flex-direction: column;
}
#middle{
    
    display:flex;
    flex-direction: row;
}
#battle-log{
    overflow: scroll;
    height:175px;
    display:flex;
    flex-direction:column-reverse;
}
#player{
    top:0%;
    border:2px solid black;
    display:flex;
    flex-direction: row;
    padding:5px;
}
#party-details{
    display:flex;
    flex-direction: row;
    margin-left:30px;

}